PORT=3006
MONGO_URI=mongodb://localhost:27017/payments
ACCOUNT_SERVICE_URL=http://localhost:3005
INTERNAL_SERVICE_TOKEN=local-internal-service-token
KAFKA_BROKER=localhost:9092
KAFKA_NOTIFICATION_TOPIC=notification.created
