NODE_ENV=development
LOG_FORMAT=pretty
LOG_LEVEL=info
PORT=4000

KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=event-processor
KAFKA_GROUP_ID=transaction-processors
KAFKA_TRANSACTION_CREATED_TOPIC=transaction.created
KAFKA_NOTIFICATION_CREATED_TOPIC=notification.created

MONGO_URI=mongodb://localhost:27017/event_processor
